/*==========tudo==========*/

*{
	margin:0px;
	padding:0px;
}

/*==========fonts==========*/

@font-face{
	font-family:'Abel';
	src:url('../font/abel.woff');
}

@font-face{
	font-family:'Aubrey';
	src:url('../font/aubrey.woff');
}

@font-face{
	font-family:'Jura';
	src:url('../font/jura_regular.woff');
}

/*==========pagina==========*/

body{
	background:#ddd;
	padding:10px;
}

#geral{
	font:16px/30px Abel;
	color:#555;
	display:none;
}

/*==========comum==========*/

div.header,caption,thead th,tfoot td,th[scope="row"],td:last-child{
	color:#007e7a;
	text-shadow:white 1px 1px 1px;
	background:#a9c6c3;
}

/*==========tags==========*/

/*divs*/
.header div:first-child,#nav .conteudo div:first-child,tfoot div:first-child{
	float:left;
}

#nav .conteudo div:nth-child(2),.header div:last-child,tfoot div:last-child{
	text-align:right;
}

div[id$="_oculto"]{
	display:none;
	clear:left;
}

/*tabelas*/
table{
	width:100%;
	border-collapse:collapse;
}

caption{
	font-weight:bold;
	margin-bottom:5px;
}

caption,th,td,tfoot{
	border:solid 1px gray;
	padding:0px 5px;
}

thead,tfoot,th[scope="row"]{
	height:30px;
}

table.lista tr:nth-child(odd){
	background:#eee;
}

table.lista tr:nth-child(odd):hover{
	background:linear-gradient(white,#bbb);
}

table.lista tr:nth-child(even){
	background:#ccf;
}

table.lista tr:nth-child(even):hover{
	background:linear-gradient(white,#9494ff);
}

td{
	line-height:20px;
}

td:last-child{
	text-align:center;
	width:70px;
}

td:first-child{
	text-align:left;
}

td:last-child form{
	display:inline;
}

tfoot{
	height:23px;
}

tfoot form{
	display:inline;
}

tfoot div input[type="submit"]{
	height:20px;
	font-size:10px;
}

/*tabelas de formularios*/
form table,table input[type="text"],table input[type="password"],table textarea,table select{
	width:100%;
	max-width:600px;
}

form th[scope="row"]{
	text-align:left;
	width:25%;
}

form td{
	border:none;
	padding:0px 8px 0px 5px;
}

form td:last-child{
	width:40px;
	border:1px solid gray;
}

form tfoot{
	height:35px;
}

/*formularios*/
input[type="text"],input[type="password"],textarea,select{
	color:#555;
	font-family:Abel;
	border:solid 1px #007e7a;
	box-shadow:inset 1px 1px 5px 0px gray;
	padding:1px;
	margin:0px 5px 5px 0px;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus,select:focus{
	border:1px solid black;
}

input[type="text"],input[type="password"]{
	height:19px;
}

input[type="radio"],input[type="checkbox"]{
	margin-right:15px;
}

textarea{
	font-size:15px;
	height:130px;
}

input[type="submit"],input[type="button"]{
	height:26px;
	padding:0px 5px;
}

/*links*/
a{
	text-decoration:none;
	cursor:pointer;
}

a:hover{
	text-decoration:underline;
}

/*==========estrutura==========*/

div.header,div.section.conteudo{
	border:outset 1px white;
	box-shadow:5px 5px 5px 0px gray;
}

div#nav,div.section{
	margin-bottom:20px;
}

div.header{
	font:bold 20px Jura;
	padding:5px 10px;
}

div.header span{
	font-size:15px;
}

div.section.conteudo{
	background:#dce5e4;
	margin-bottom:15px;
	padding:15px;
}

/*==========menu==========*/

div#nav div.header{
	text-align:right;
	padding-right:10px;
}

div#nav a{
	font-weight:bold;
	text-shadow:black 0px 1px 0px;
	background:#007e7a;
	padding:2px 10px;
	margin-right:5px;
	border-radius:3px;
	box-shadow:inset white 1px 1px 0px, black 1px 1px 0px;
	color:white;
	font-family:Aubrey;
}

/*==========classes e ids==========*/

/*divs*/


/*formularios*/
form.pequeno{
	max-width:400px;
}

form .leitura{
	background:#ddd;
}

/*status*/
#status{
	color:purple;
}

